.missingInfo {
  padding: 1px 4px;
  font-size: 13px;
  background: #fcce;
  border: 1px solid red;
  border-radius: 3px;
  display: inline-block;
  min-width: 70px;
  font-weight: 600;
  text-align: center;
}

.spinnerAlign {
  vertical-align: middle !important;
  margin-right: 4px !important;
}
.tableTimeInput {
  max-width: 110px;
  .MuiIconButton-root {
    padding: 7px !important;
  }
}
.tableTeamInput {
  width: 140px;
}
.tableAction {
  background: none;
  padding: 0;
  border: none;
  margin-right: 4px;
}
